@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@{
    var header= Umbraco.Content(2060);
    var navigationbar = Model.Root().Children();


}

<div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand ml-lg-3"> 

                
             <h1 class="m-0 display-5 text-uppercase text-primary"><i class="@header.GetProperty("brandlogo").GetValue()"></i>@header.GetProperty("logoTitle").GetValue()</h1>
                </a>
               <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
               <nav class="nav-bar top-nav" style="display: flex !important;"> @*inline css used beacause it is overlaping not able to implement css on external css This style refers to Line No=52 where need to implement css*@
                <a class="nav-link" href="/">Home</a>
                @foreach (var child in @navigationbar)
                {
                    <a class="nav-link" href="@child.Url()">@child.Name</a>

                }
                </nav>
                </div>
                <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">@header.GetProperty("quoteTitle").GetValue()</a>
            </div>
        </nav>
    </div>
